.board {
    display: grid;
    margin-top: 20px;
    border: 2px solid #000;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid #000;
}

.cell:nth-child(even) {
    background-color: #f0d9b5;
}

.cell:nth-child(odd) {
    background-color: #b58863;
}

.queen {
    color: red;
    font-weight: bold;
}
